@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes testimonial-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-8.333333%);
  }
}

@utility animate-testimonial-marquee {
  animation: testimonial-marquee 25s linear infinite;
}

@keyframes placement-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-8.333333%);
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
